@media (max-width: 500px) {
  /* add something here to hide sidebar if in mobile*/
  h1.title {
    font-size: 4em;
  }
  div.sidebar {
    padding-top: 0;
  }
}

:root {
  --color-bg: #FDE8E9;
  --color-text-main: #000000;
  --accent-color: #39A2AE;
  --color-primary: #E3BAC6;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Space Grotesk";
  --font-family-header: "Space Grotesk";
}

* {
  box-sizing: border-box;
}


.footer {
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  padding: 1rem 0 0.75rem 0;
  gap: 2%;
  width: 100%;
  flex-wrap: wrap;
}

.footer .links {
  padding: 0.5rem 1rem 1.5rem;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

.background {
  background-color: var(--color-bg);
  opacity: 0.8;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px),
                      radial-gradient(#444cf7 0.5px, var(--color-bg) 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

html, body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
}

.wrapper {
  width:100%;
  min-height: var(--wrapper-height);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 auto;
}

.sidebar {
  flex-grow: 1;
  flex-basis:8rem;
  padding-top: 5em;
}

.content {
  display: flex;
  flex-wrap:wrap;
  flex-basis: 0;
  flex-grow: 999;
  place-items: center;
  min-inline-size: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.title {
  color: var(--accent-color);
  font-family: var(--font-family-header);
  font-style: normal;
  font-weight: bold;
  font-size: 5em;
  line-height: 105%;
  margin: 0;
}

.illustration {
  max-width: 100%;
  max-height: var(--image-max-width);
  margin-top: var(--image-margin);
}

.main-text {
  margin: 1rem auto 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
}


h1 {
  font-size: 80%;
  color: var(--accent-color);
}

h1:active {
  transform: translateY(5px);
  text-shadow: 10px -10px var(--color-primary);
}

/* Subheading */
h2 {
  color: var(--accent-color);
  text-decoration: underline double;
}

.illustration:active {
  transform: translateY(5px);
}

ul {
  list-style-type: none;
  border-left: 1rem solid var(--accent-color);
  background-color: var(--color-primary);
  padding: 0.1rem 1rem;
  margin: auto 1em;
}

.sidebar_link {
  text-decoration: none;
  border-radius: 6px;
  padding: 0.1rem 0.05rem;
  margin: 0.25rem 0.25rem;
  color: var(--accent-color);
  font-size: 120%;
}


.flat_link {
  text-decoration: none;
  background-color: var(--accent-color);
  border-radius: 6px;
  padding: 0.5rem ;
  margin: 0.25rem 0.25rem;
  color: var(--color-primary);
}

a.flat_link:visited {
    color: var(--color-primary);
}

a.flat_link:hover {
  background-color: var(--color-primary);
  color: var(--accent-color);

}

a, a:visited {
  text-decoration: none;
}
